
body {
    background-color: white;
}

header main footer {
    min-width: 100%;
}

header .container, main .container, footer .container {
    /* was originally 555 px */
    max-width: 100%;
    margin: auto;
}

header {
    background-color: aqua;
}

header h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.text-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.text-content p {
    width: 600px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 20px;
}

.text-content hr {
    width: 100%; 
    border-color: black; 
    background: black;
    height: 2px;
}